body {
  margin: 0;
  font-family: Arial;
  background: #111;
  color: white;
}

header {
  background: red;
  padding: 20px;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  gap: 20px;
  padding: 20px;
}

.producto {
  background: #1c1c1c;
  padding: 15px;
  border-radius: 10px;
  transition: 0.3s;
}

.producto:hover {
  transform: scale(1.05);
}

button {
  background: red;
  border: none;
  padding: 10px;
  color: white;
  cursor: pointer;
}
